@(title: String, scripts: Html = Html(""), meta: Html = Html(""))(subtitle: Html)(content: Html)
<!DOCTYPE html>
<html>
    <head>
    	<!-- metadata description -->
        <meta charset="utf-8">
        <title>GDC-Project - @title</title>
        <meta name="viewport" content="width=device-width">
	    @meta
	    <meta property="og:locale" content="en_GB" />
	    <meta property="og:image" content='@routes.Assets.at("img/logo.png")' />
		<!-- stylesheet -->
        <link rel="icon" type="image/png" href='@routes.Assets.at("img/favicon.png")'>
        <link rel="stylesheet" href='@routes.Assets.at("stylesheets/bootstrap.min.css")'>
        <link rel="stylesheet" href='@routes.Assets.at("stylesheets/bootstrap-responsive.min.css")'>
        <link rel="stylesheet" href='@routes.Assets.at("stylesheets/vendor/bootstrap-select.css")'>
        <link rel="stylesheet" href='@routes.Assets.at("stylesheets/vendor/slider.css")'>
        <link rel="stylesheet" href='@routes.Assets.at("stylesheets/jquery.mCustomScrollbar.css")'>
        <link rel="stylesheet" href='@routes.Assets.at("stylesheets/style.css")'>
        <link rel="stylesheet" href='@routes.Assets.at("stylesheets/jquery.datetimepicker.css")'>
        <link rel="stylesheet" href='@routes.Assets.at("stylesheets/jquery.pnotify.default.css")'>

		<!-- javascript overall-->
        <script src='@routes.Assets.at("javascripts/vendor/modernizr-2.6.2-respond-1.1.0.min.js")'></script>
        
        <script type="text/javascript" src='@routes.Assets.at("javascripts/jquery-1.10.1.min.js")'></script>
        <script src='@routes.Assets.at("javascripts/vendor/bootstrap.js")'></script>
        <script src='@routes.Assets.at("javascripts/vendor/bootstrap-select.min.js")'></script>
        <script src='@routes.Assets.at("javascripts/vendor/jquery.flexslider-min.js")'></script>
        <script src='@routes.Assets.at("javascripts/vendor/bootstrap-slider.js")'></script>
        <script src='@routes.Assets.at("javascripts/vendor/jquery.mousewheel.min.js")'></script>
        <script src='@routes.Assets.at("javascripts/vendor/jquery.mCustomScrollbar.min.js")'></script>
        <script src='@routes.Assets.at("javascripts/vendor/jquery.placeholder.min.js")'></script>
        
        <!-- fancybox -->
       	<script type="text/javascript" src='@routes.Assets.at("javascripts/fancybox/jquery.fancybox.js")'></script>
		<script type="text/javascript" src='@routes.Assets.at("javascripts/fancybox/jquery.fancybox.pack.js")'></script>
		<link rel="stylesheet" type="text/css" href='@routes.Assets.at("javascripts/fancybox/jquery.fancybox.css")' media="screen" />
		
		<!-- datetimepicker -->
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
		<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
		
		<!-- easyModal -->
		<script type="text/javascript" src='@routes.Assets.at("javascripts/easyModal/jquery.easyModal.js")'></script>
		
		<!-- pnotify -->
        <script type="text/javascript" src='@routes.Assets.at("javascripts/pnotify/jquery.pnotify.min.js")'></script>
		@scripts
        <script src='@routes.Assets.at("javascripts/main.js")'></script>   
		
    </head>
    <body>
    <div id="maincontainer">
        <!-- start top header nav bar frame-->
        <header>
            <section class='container'>
                <section class='row'>
                	<!-- start logo frame -->
                    <div class='span3'>
                        <figure class='logo'>
                            <a href="/">
                                <img src='@routes.Assets.at("img/logo.png")' alt="GDC-Project"/>
                            </a>
                        </figure>
                    </div>
                    <!-- ends logo frame -->
                    
                    <!-- start top navigation bar frame -->
                    <div class='span6'>
                        <nav class='main-nav'>
		                    <ul>
		                        <li class='active'> <a href="/">SPARQL EndPoint</a> </li>
		                        <li class='active'> <a href="#">Google Maps</a> </li>
		                    </ul>
                        </nav>
                    </div>
                </section>
            </section>
        </header>
        <!-- ends top header nav bar frame -->
        <div id="body">
	        <!-- start header frame -->
	        <section id='header-page-title'>
	            <div class='container'>
	                <div class='row'>
	                    <div class='span12'>
	                        <div class='text-box span6'>
	                        	@subtitle
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </section>
	        <!-- ends header frame -->
			
			<!-- start center container-->
	        <section id='main'>
	            <section id="container" class='container'>
	            	<!-- start new content -->
	            	@content
	            	<!-- ends new content -->
	        		
	        		<!-- start upper footer-->
	           		<section class='container index-container'>
		                <section class='row'>
		                    <div class='span4 footer-widget'>
		                        <h2>About Us</h2>
		                        <p>As students at the University of Montpellier 2 computer science courses, we have developed this project in an educational setting enrolling in the curriculum MASTER.</p>
		                        <p>The purpose of this project is based on the exploitation of semantic web technologies (RDF, OWL, Jena, APIs). The intention is to integrate datas from differents databases storage solutions.</p>
		                    </div>
		                    <div class='span4 footer-widget'>
		                        <h2>Development</h2>
		                        <div class='blog-style'>
		                            <article>
		                                <div class='version-box'>
		                                    <div class='version'>2.2.0</div>
		                                    <div class='v'>version</div>
		                                </div>
		                                <div class='text-box'>
		                                    <h3><a href="#">Play Framework</a></h3>
		                                    <span class='author'>Developpement framework</span>
		                                    <div class='excerpt'>
		                                        <p>The Reactive Web Framework.</p>
		                                    </div>
		                                </div>
		                            </article>
		                            <br/>
		                            <article>
		                                <div class='version-box'>
		                                    <div class='version'>2.11.1</div>
		                                    <div class='v'>version</div>
		                                </div>
		                                <div class='text-box'>
		                                    <h3><a href="#">Apache Jena</a></h3>
		                                    <span class='author'>Java framework for semantic web</span>
		                                    <div class='excerpt'>
		                                        <p>Buildi semantic web and Linked Data applications</p>
		                                    </div>
		                                </div>
		                            </article>
		                        </div>
		                    </div>
		                    <div class='span4 footer-widget'>
		                        <h2>Testimonials</h2>
		                        <div class='testimonial-box'>
		                            <div class='controls'>
		                                <a href="#" class='prev'>Previous</a>
		                                <a href="#" class='next'>Next</a>
		                            </div>
		                            <ul class='slides'>
										<li>
		                                    <div class='slide-box'>
		                                        <div class='text-box'>
		                                            <div class='inner'>
		                                                <p>"Not bad guys !!! this project is proof of a good job. Your teacher should be proud of you. Good luck rigth there."</p>
		                                            </div>
		                                            <i class='bubble'></i>
		                                        </div>
		                                        <div class='author-box'>
		                                            <figure></figure>
		                                            <div class='texts'>
		                                                <span class='name'>Jean Pierre  LORENTE</span> <br />
		                                                <span class='position'>Université Montpellier 2</span>
		                                            </div>
		                                        </div>
		                                    </div>
		                                </li>		                            
		                                <li>
		                                    <div class='slide-box'>
		                                        <div class='text-box'>
		                                            <div class='inner'>
		                                                <p>"The project is really interesting, it offers the ability to get usuful 
		                                                information turism in France. Good, I like it."</p>
		                                            </div>
		                                            <i class='bubble'></i>
		                                        </div>
		                                        <div class='author-box'>
		                                            <figure></figure>
		                                            <div class='texts'>
		                                                <span class='name'>Alexis BESSOU</span> <br />
		                                                <span class='position'>Université Montpellier 2</span>
		                                            </div>
		                                        </div>
		                                    </div>
		                                </li>
		                            </ul>
		                        </div>
		                    </div>
		                    <i class='footer-bubble'></i>
		                </section>
            		</section>
            		<!-- ends upper footer -->	   
            		         	
	            </section>
	        </section>
	        <!-- ends center container-->
	   </div>    
		    
	   <!-- start footer frame -->
        <footer>
            <!-- start under-decoration container frame -->
            <section class='container'>
                <section class='row'> </section>
            </section>
            <!-- ends under-decoration container frame -->
            
            <!-- start sub-footer frame -->
			<section id='sub-footer'>
			    <section class='container'>
			        <section class='row'>
			            <div class='span3'>
			                <div class='copyright'>
			                	<p class="sub-text-footer">&copy; 2014 All rights reserved. Developed by UM2 team</p> 
			                </div>
			            </div>
			            <div class='span6'>
			                <div class='copyright'>
			                   <p class="sub-text-footer">GDC-Project 2014</p>
			                </div>
			            </div>
			            <div class='span3'>
							<div class='copyright'>
			                   <p class="sub-text-footer">Module Gestion de données compléxes</p>
			                </div>
			            </div>
			        </section>
			    </section>
			</section>
			<!-- ends sub-footer frame -->
        </footer>
        <!-- ends footer frame -->
        </div>
    </body>
</html>
