@main("SPARQL EndPoint", meta)(subtitle)(content)

@meta = {
        <meta property="og:title" content="GDC-Project - SPARQL" />
        <meta name="description" content="Our SPARQL EndPoint. Here you can query everything you need from our database.">
        <meta property="og:description" content="Our SPARQL EndPoint. Here you can query everything you need from our database" />
}

<!-- tag your location page -->
@subtitle = {
			<h1><a>SPARQL EndPoint</a></h1>
			<p>You can try complexe statement SPARQL-based to examinate our data.</p>
}
	
@content = {
			<section class='container'>
                <section class='row'>
                    <div class='span9'>
                        <div class='endpoint-box'>
                        	<!-- -->
                            <div class='title-bar'>
                                <div class='inner'>
                                    <div class='pull-left custom-margin' style="margin-top: 2px;margin-bottom: 13px;">
                                        <h2><strong>SPARQL Query Editor</strong></h2>
                                    </div>
                                    <div class='pull-right results-per-page custom-margin' style="margin-top: 2px;margin-bottom: 13px;">
                                            <a href="#"><strong>Namespace Prefixes</strong></a>
                                    </div>
                                </div>
                            </div>
                            <!-- -->
                            
                            <!-- -->
                            <div class='endpoint-box-content'>
                                <div class='inner'>
                                	<p>Send your request in order to check our data.</p>
                                    <div class='half first-half'>
                                        <form id="spaqrl-form" method="get" action="@routes.Application.sparqlresults()">
                                            <textarea name="query" id="endpoint-box-query" class='input-block-level'>SELECT * WHERE { ?s ?p ?o } LIMIT 100</textarea>
                                            <div class='pull-left custom-margin' style="margin-right: 10px;">
                                            	<span class='text-line' style="margin-right: 10px;">Results Format</span>
	                                            <select name="format" class='selectpicker'>
								                    <option value="0" selected="selected">HTML</option>
								                    <option value="1">JSON</option>
								                    <option value="2">XML</option>
								                    <option value="3">RDF</option>
								                    <option value="4">Turtle</option>
	                                            </select>
                                        	</div>
							                <input type="submit" value="Run Query" class="btn btn-success" style="margin-right: 10px;"/>
							                <input type="reset" value="Reset" class="btn btn-success" style="margin-right: 10px;"/> 
                                        </form>
                                    </div>
                                </div>
                            </div>
                     		<!-- -->
                        </div>
                    </div>
                </section>
            </section>
}